* {
  display: border-box;
}

.grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  align-items: space-around;
  border: 2px dodgerblue solid;
  /* flex-wrap */
}

.meme {
  border: 1px firebrick solid;
  border-radius: 5px;
}
