* {
  display: border-box;
}

.grid {
  display: flex;
  border: 2px dodgerblue solid;
}

.meme {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px firebrick solid;
  border-radius: 5px;
  margin: 20px;
}
