.grid {
  display: flex;
}

.meme {
  position: relative;
  border: 1px #ccc solid;
}

p {
  font-family: impact;
  font-size: 2.5em;
  text-transform: uppercase;
  position: absolute;
  color: black;
}

#top {
  top: 0;
}

#bottom {
  bottom: 0;
}
